<template>
  <div>
    Message : <input v-model="msg" type="text">
    <h2>{{ reverseMsg }}</h2>
  </div>
</template>

<script>
  export default {
    name: 'revert',
    data () {
      return {
        msg: ''
      }
    },
    computed: {
      reverseMsg: function () {
        return this.msg.split('').reverse().join('')
      }
    }
  }
</script>

<style>

</style>
